{% extends 'base.html.twig' %}

{% block stylesheets %}     
	{# BASE CSS #}
        {{ parent() }}

	{# CSS DATATABLE / BOOTSTRAP #}
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.4.0/css/searchPanes.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
            
	{# OUR CSS #}
        <link rel="stylesheet" href="{{ asset('css/liste.css') }}" type="text/css" >
{% endblock %}

{% block title %}Entreprise{% endblock %}

{% block body %}
	<div id="principal">
	    <div class="title">
   			<h1 class="txtcenter">Les entreprises</h1>
    		<p>Liste non exhaustive des entreprises dans lequel un étudiant du BTS SIO a déja effectué un stage.</p>
		</div>
		
		<div class="container mb-3 mt-3">
			<table class="table table-striped table-bored mydatatable entreprise" style="width: 100%">
                <thead>
                    <tr>
						<th>Nom Entreprise</th>
						<th>Ville</th>
						<th>Mail</th>
						<th>Téléphone</th>
						<th>Spécialité</th>
						<th>
							<a href="{{ path('entreprise_ajouter') }}">
								<img class="plus" src="{{ asset('img/ajouter_b.svg')}}" type="submit" name="Ajouter"></img>
							</a>
                 	   </th>
                    </tr>
                </thead>
                <tbody>
					{% for l in liste_ent %}
						<tr>
							<td>{{ l.nomEntreprise }}</td>
							<td>{{ l.Ville.nomVille }}</td>
							<td>
								<a href="mailto:{{ l.mailEntreprise }}">
									{{ l.mailEntreprise }}
								</a>
							</td>
							<td>{{ l.telephoneEntreprise }}</td> 
							<td>{{ l.specialite.specialite }}</td> 
                                  
                            <td class="td-icon">
                            	<a href="{{ path('entreprise_afficher', {'id': l.id }) }}">
                                	<img class="eye" src="{{ asset('img/afficher.svg')}}" type="submit" name="Afficher"></img>
                                </a>
                     
								{% if 'ROLE_PROFESSEUR' in user.roles %}
									<a href="{{ path('entreprise_modifier', {'id': l.id }) }}">
										<img class="pencross" src="{{ asset('img/modifier.svg')}}" type="submit" name="Modifier"></img>
									</a>    
									
									<a href="{{ path('entreprise_supprimer', {'id': l.id }) }}">
										<img class="pencross" src="{{ asset('img/supprimer.svg')}}" type="submit" name="Supprimer" onclick="confirmSuppr()"></img>
									</a>
								{% endif %}
                         	</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{# BASE JS #}
	    {{ parent() }}
	    
	{# DATATABLE / BOOTSTRAP & POPPER #}
	    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
	    <script src="https://cdn.datatables.net/searchpanes/1.4.0/js/dataTables.searchPanes.min.js"></script>
	    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
	    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
	    
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
	   	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
	   	
	   	
	{# OUR JS #}
	    <script src="{{ asset('js/datatableConfig/datatableConfigEnt.js') }}"></script>
{% endblock %}

